<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        td:first-child { font-weight: bold }
    </style>
</head>
<body>
<table>
    <tr><td>Desc</td><td>Value</td></tr>
    <tr><td>Date added</td><td>{{ wine.date }}</td></tr>
    <tr><td>Country/Region</td><td>{{ wine.country_region }}</td></tr>
    <tr><td>Vintage</td><td>{{ wine.vintage }}</td></tr>
    <tr><td>Name</td><td>{{ wine.description }}</td></tr>
    <tr><td>Units</td><td>{% if wine.bottles %}{{ wine.bottles }} {{ wine.unit_size|title }}{{ wine.bottles|pluralize }}{% endif %}{% if wine.cases %}{{ wine.cases }} Case{{ wine.cases|pluralize }} of {{ wine.unit_per_case }} {{ wine.unit_size|title }}{{ wine.unit_per_case|pluralize }}{% endif %}</td></tr>
    <tr><td>Price ex VAT</td><td>£{{ wine.price_duty_paid_ex_vat|floatformat:2|intcomma }}</td></tr>
    <tr><td>Price inc VAT</td><td>£{{ wine.price_duty_paid_inc_vat|floatformat:2|intcomma }}</td></tr>
    <tr><td>Price per bottle inc VAT</td><td>£{{ wine.price_per_bottle|floatformat:2|intcomma }}</td></tr>
    <tr><td>Status</td><td>{{ wine.status }}</td></tr>
    <tr><td>Ullage</td><td>{{ wine.ullage }}</td></tr>
    <tr><td>Packaging</td><td>{{ wine.packaging }}</td></tr>
    <tr><td>Label condition</td><td>{{ wine.label_condition }}</td></tr>
    <tr><td>Link</td><td><a href="{{ wine.link }}">{{ wine.link }}</a></td></tr>

</table>
</body>
</html>

